<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>시험 : 윤경민 , 최재연</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/home.js"></script>
</head>
<body>
	<h1>시험 : 윤경민 , 최재연</h1>
	<h2>주제 : (일 / 요일 / 항공사) 별 평균 지연 시간 조사</h2>
	<button id="ODS_insert">ODS insert</button>
	<button id="DW_insert">DW insert</button>
	<button id="DM_insert">DM insert</button>
	<button id="DM_result">수집결과</button>
	<h3 id="ODS_result" style="display: none"></h3>
</body>
</html>